body, canvas { margin: 0; padding: 0; }

.root {
    width: 100vw;
    height: 100vh;
    background-color: #352020;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 1s ease-out;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
    padding: 0.5em;
}

a:hover {
    color: #352020;
    background-color: #c0b0a0;
}

a:hover>* {
    color: #352020;
    background-color: #c0b0a0;
}

h1, h3 {
    font-family: Bahnschrift, monospace;
    color: #c0b0a0;
}